.login-component header {
  height: 65px;
  width: 100%;
  background-color: rgb(126, 28, 28);
  padding: 0 30px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  text-decoration: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0 30px;
}

header .singup-link {
  width: 80px;
  right: 180px;
  color: #ffff;
  transition: all 0.3 ease 0s;
}

header .singup-link:hover {
  color: orange;
  transition: all 0.3 ease 0s;
}

header .home-link {
  width: 80px;
  right: 180px;
  color: #ffff;
  transition: all 0.3 ease 0s;
}
header .home-link:hover {
  color: orange;
  transition: all 0.3 ease 0s;
}

.login-container {
  margin-bottom: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.square-container {
  background-color: #ffff;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
  width: 340px;
  height: 270px;
  position: relative;
  box-shadow: 0 10px 6px -6px #777;
}

.square-container form {
  box-sizing: border-box;
  display: block;
  grid-template-rows: 80px 80px 80px 60px;
  align-content: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.square-container form h1 {
  padding: 5px;
  width: 260px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

form .email-input {
  justify-self: center;
  align-self: center;
  height: 60px;
  margin: 10px;
  padding: 5px;
}
.email-input input {
  height: 40px;
  border: none;
  width: 280px;
  border-bottom: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 5px;
}
.email-input input:focus {
  border-bottom: 2px solid black;
}

form .password-input {
  margin: 10px;
  height: 60px;
  padding: 5px;
}
.password-input input {
  height: 40px;
  width: 280px;
  border: none;
  border-bottom: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 5px;
}
.password-input input:focus {
  border-bottom: 2px solid black;
}

form button {
  background-color: rgb(201, 22, 22);
  margin-top: 5px;
  margin-right: 25px;
  height: 45px;
  width: 120px;
  justify-self: right;
  float: right;
  padding: 4px;
  border-radius: 8px;
  position: relative;
}

form button:hover {
  opacity: 0.8;
}
