.register-component header {
  height: 65px;
  width: 100%;
  background-color: rgb(126, 28, 28);
  padding: 0 30px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  text-decoration: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0 30px;
}
header .login-link {
  width: 80px;
  right: 180px;
  color: #ffff;
  transition: all 0.3 ease 0s;
}
header .login-link:hover {
  color: orange;
  transition: all 0.3 ease 0s;
}

header .home-link {
  width: 80px;
  right: 180px;
  color: #ffff;
  transition: all 0.3 ease 0s;
}
header .home-link:hover {
  color: orange;
  transition: all 0.3 ease 0s;
}

.register-container {
  margin-left: 5px;
}

.register-container h1 {
  margin-bottom: 20px;
  padding: 8px;
}

.register-container span {
  margin-bottom: 10px;
  padding: 10px;
}
label {
  display: inline;
  margin: 10px;
}

.register-container .grid {
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  display: grid;
  grid-template-columns: 1.9fr 1.6fr;
  grid-template-rows: 0.5fr 2.1fr;
  gap: 8px 15px;
  grid-template-areas: '. .' '. .';
}

div.User-Group {
  margin-bottom: 20px;
  grid-row: 1;
  grid-column: 1 / 2;
}

form .Ong-Group {
  display: block;
  grid-row: 2;
  grid-column: 1 / 2;
}

.register-container form input {
  display: block;
  width: 70%;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 10px;
}

.register-container form textarea {
  display: block;
}

.Text-description {
  grid-row: 2;
}

.Text-necessities {
  grid-row: 1;
}

form .necessities {
  width: 300px;
  height: 200px;
}

form .description {
  width: 300px;
  height: 400px;
}
form span {
  font-weight: bold;
  color: red;
}

.register-container form button {
  display: block;
  background-color: rgb(201, 22, 22);
  right: 15px;
  bottom: 15px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 4px;
  border-radius: 8px;
  position: absolute;
}

.register-container form button:hover {
  opacity: 0.8;
}

.popup-modal {
  height: 170px;
}

.popup-modal > .popup-header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.popup-modal > .popup-content {
  width: 100%;
  padding: 10px 5px;
}

.popup-modal > .delete {
  background-color: #fff;
  float: right;
  height: 45px;
  width: 120px;
  padding: 4px;
  border-color: black;
  border-radius: 8px;
  position: relative;
  transition: 0.5s;
}

.popup-modal > .delete:hover {
  color: red;
  border: solid;
  border-width: 2px;
  border-color: red;
  border-radius: 8px;
}
