.home-component header {
  height: 65px;
  width: 100%;
  background-color: rgb(126, 28, 28);
  max-width: 1490px;
  padding: 0 30px;
  margin: 0 0 30px 0;
}
header span.bem-vindo {
  width: 200px;
  display: flex;
  margin: auto;
  align-self: center;
}

header .login-link {
  width: 80px;
  position: absolute;
  display: flex;
  align-items: center;
  right: 180px;
  padding: 8px;
  color: gray;
}

header .link-icon {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin-right: 2px;
}

.ButtonTest {
  right: 40px;
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  background-color: rgb(201, 22, 22);
  border-radius: 8px;
  padding: 3px;
}

.ongs-list-container ul {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 24px;
  list-style: none;
}

.ongs-list-container ul li {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}
.ongs-list-container ul p {
  padding: 10px;
}
.ongs-list-container ul strong.ongTitle {
  display: block;
  margin-top: 10px;
  color: #41414d;
  padding: 10px;
}
.ongs-list-container ul strong.ongLocal {
  display: block;
  margin-top: 2px;
  padding: 8px;
  color: orange;
}

.ongs-list-container ul button {
  background-color: rgb(201, 22, 22);
  margin-top: 10px;
  margin-left: 10px;
  right: 12px;
  bottom: 12px;
  padding: 4px;
  border-radius: 8px;
  position: absolute;
}

.ongs-list-container ul button:hover {
  opacity: 0.8;
}
