.home-component header {
  height: 65px;
  width: 100%;
  background-color: rgb(126, 28, 28);
  max-width: 1490px;
  padding: 0 30px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  text-decoration: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0 30px;
}

header span.bem-vindo {
  color: #ffff;
  margin: 2px;
}

header .login-link {
  width: 80px;
  right: 180px;
  color: #ffff;
  transition: all 0.3 ease 0s;
}
header .login-link:hover {
  color: orange;
  transition: all 0.3 ease 0s;
}

header .link-icon {
  position: relative;
  margin-right: 2px;
}

header .singup-link {
  width: 80px;
  right: 180px;
  color: #ffff;
  transition: all 0.3 ease 0s;
}
header .singup-link:hover {
  color: orange;
  transition: all 0.3 ease 0s;
}

.ButtonTest {
  width: 130px;
  height: 30px;
  right: 40px;
  background-color: orange;
  color: #ffff;
  border-radius: 10px;
  border-color: orange;
  padding: 3px;
  font-size: medium;
}
.ButtonTest:hover {
  opacity: 0.8;
}

.ongs-list-container ul {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-gap: 12px;
  margin-left: 6px;
  margin-right: 6px;
  list-style: none;
}
.ongs-list-container h1 {
  margin-bottom: 10px;
  padding: 5px;
}

.ongs-list-container ul li {
  max-height: 235px;
  max-width: 258px;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}
.ongs-list-container ul p {
  max-width: 210px;
  max-height: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
.ongs-list-container ul strong.ongTitle {
  display: block;
  margin-top: 10px;
  color: #41414d;
  padding: 10px;
}
.ongs-list-container ul strong.ongLocal {
  display: block;
  margin-top: 2px;
  padding: 8px;
  color: orange;
}

.ongs-list-container ul button {
  background-color: rgb(201, 22, 22);
  margin-top: 10px;
  margin-left: 10px;
  right: 12px;
  bottom: 12px;
  padding: 4px;
  border-radius: 8px;
  position: absolute;
}

.ongs-list-container ul button:hover {
  opacity: 0.8;
}
