.profile-component header {
  height: 65px;
  width: 100%;
  background-color: rgb(126, 28, 28);
  padding: 0 30px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  text-decoration: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0 30px;
}

header .home-link {
  width: 80px;
  right: 180px;
  color: #ffff;
  transition: all 0.3 ease 0s;
}
header .home-link:hover {
  color: orange;
  transition: all 0.3 ease 0s;
}

.profile-container {
  margin-left: 10px;
  padding: 5px;
  min-height: 750px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
}

.white-box-1 {
  display: block;
  background-color: #ffff;
  box-shadow: 0 10px 6px -6px #777;
  grid-column: 1 / 6;
  grid-row: 1 / 3;
}
.white-box-1 .content {
  padding: 10px;
}

.profile-container h1.ongTitle {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-bottom: 10px;
  padding: 8px;
}

.white-box-1 .ongLocal {
  padding: 10px;
  color: orange;
}

.white-box-1 .ongNecessities {
  padding: 8px;
}

.white-box-1 h2 {
  margin: 15px;
}

.white-box-1 .label {
  margin-left: 20px;
}

.white-box-1 .rua {
  margin: 10px;
}

.white-box-1 .email {
  margin: 10px;
}

.white-box-2 {
  display: block;
  background-color: #ffff;
  box-shadow: 0 10px 6px -6px #777;
  grid-column: 7 / 12;
  grid-row: 1 / 3;
}

.white-box-2 h1.QuemSomos {
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding: 5px;
}

.white-box-2 .name-fantasy {
  margin-left: 20px;
  padding: 5px;
}

.white-box-2 .ongDescription {
  padding: 8px;
  margin: 5px;
}

.Inscrever {
  display: grid;
  margin-top: 300px;
  padding: 10px;
  max-height: 260px;
  min-height: 200px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.Inscrever > * {
  display: flex;
  align-self: center;
  margin: 10px 0px 10px 10px;
  position: relative;
}

.Inscrever p {
  margin: 2fr 1fr 1fr 1fr;
}

.Inscrever > .Inscrever-button {
  align-self: center;
  background-color: #fff;
  float: right;
  height: 45px;
  width: 120px;
  padding: 4px;
  border-color: black;
  border-radius: 8px;
  transition: 0.5s;
}